<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="texto-ingresa-datos">
        <span class="ingresa">Ingresa</span><span class="tus-datos"> tus datos</span><br>
        <span class="parrafo">Solo necesitas tener tu cédula para realizar la solicitud.</span>
    </div>
    <label class="formLabel">
        <span class="formSpan">Rut</span>
        <input class="formInput" type="text" formControlName="rut" placeholder="Ej: 11.111.111-1" required>
    </label>

    <label class="formLabel">
        <span class="formSpan">Celular</span>
        <input class="formInput" type="text" formControlName="celular" placeholder="Ej: 911111111" required>
    </label>

    <label class="formLabel">
        <span class="formSpan">Correo Electrónico</span>
        <input class="formInput" type="text" formControlName="correo" placeholder="Ej: correo@dominio.cl" required>
    </label>
    <button class="formButton" type="submit" [disabled]="!profileForm.valid" >Continuar</button>
</form>