h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.form {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 90%;
    top: 15px;
    padding: 5%;
}

.formLabel {
    height: 80px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    margin: 15px 0px;
}

.formLabel .formSpan {
    height: 20px;
    text-align: left;
    background-color: #ffffff;
    width: 62%;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold 200;
    color: #5F696B;
}

.formLabel .formInput {
    height: 40px;
    align-items: center;
    background-color: #ffffff;
    width: 60%;
    border: 1px solid #DBE3E7;
    border-radius: 2px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 300;
}

.formButton {
    margin: 0 auto;
    height: 45px;
    align-items: center;
    background-color: #008636;
    width: 62%;
    left: 19%;
    color: #ffffff;
    position: relative;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300 bold;
    margin-top: 40px;
}

.formButton:disabled {
    margin: 0 auto;
    height: 45px;
    align-items: center;
    background-color: #008636;
    width: 62%;
    left: 19%;
    color: #ffffff;
    position: relative;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 300 bold;
    margin-top: 40px;
    opacity: 0.7;
}

.formLabel .formInput::placeholder {
    color: #879098;
    font-size: 14px;
    font-weight: 200 bold;
    padding-left: 10px;
}

.texto-ingresa-datos {
    display: block;
    width: 62%;
    margin: 0 auto;
    margin-top: 70px;
}

.ingresa {
    color: #01792E;
    font-size: 25px;
    font-weight: 200 bold;
}

.tus-datos {
    color: #767E83;
    font-size: 25px;
    font-weight: 300;
}

.parrafo {
    display: flex;
    color: #70797E;
    font-size: 14px;
    font-weight: 200 bold;
    width: 80%;
    margin: 40px 0;
}

/*@media screen and (min-width: 1025px) and (max-width: 1240px) {
    .formLabel {
        height: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px;
    }
    
    .formLabel .formSpan {
        height: 20px;
        text-align: left;
        background-color: #ffffff;
        width: 80%;
        margin-bottom: 10px;
    }
    
    .formLabel .formInput {
        height: 40px;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
        border: 1px solid #DBE3E7;
        border-radius: 2px;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    
    .formButton {
        margin: 0 auto;
        height: 45px;
        align-items: center;
        background-color: #008636;
        width: 82%;
        left: 9%;
        color: #ffffff;
        position: relative;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 300 bold;
        margin-top: 20px;
    }
    .texto-ingresa-datos {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .ingresa {
        color: #01792E;
        font-size: 25px;
        font-weight: 200 bold;
    }
    .tus-datos {
        color: #767E83;
        font-size: 25px;
        font-weight: 300;
    }
    .parrafo {
        display: flex;
        color: #70797E;
        font-size: 14px;
        font-weight: 200 bold;
        width: 100%;
        margin: 20px 0;
    }
}*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .formLabel {
        height: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px;
    }
    .formLabel .formSpan {
        height: 20px;
        text-align: left;
        background-color: #ffffff;
        width: 80%;
        margin-bottom: 10px;
    }
    .formLabel .formInput {
        height: 40px;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
        border: 1px solid #DBE3E7;
        border-radius: 2px;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .formButton {
        margin: 0 auto;
        height: 45px;
        align-items: center;
        background-color: #008636;
        width: 82%;
        left: 9%;
        color: #ffffff;
        position: relative;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 300 bold;
        margin-top: 20px;
    }
    .texto-ingresa-datos {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .ingresa {
        color: #01792E;
        font-size: 25px;
        font-weight: 200 bold;
    }
    .tus-datos {
        color: #767E83;
        font-size: 25px;
        font-weight: 300;
    }
    .parrafo {
        display: flex;
        color: #70797E;
        font-size: 14px;
        font-weight: 200 bold;
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .formLabel {
        height: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px;
    }
    .formLabel .formSpan {
        height: 20px;
        text-align: left;
        background-color: #ffffff;
        width: 80%;
        margin-bottom: 10px;
    }
    .formLabel .formInput {
        height: 40px;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
        border: 1px solid #DBE3E7;
        border-radius: 2px;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .formButton {
        margin: 0 auto;
        height: 45px;
        align-items: center;
        background-color: #008636;
        width: 82%;
        left: 9%;
        color: #ffffff;
        position: relative;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 300 bold;
        margin-top: 20px;
    }
    .texto-ingresa-datos {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .ingresa {
        color: #01792E;
        font-size: 25px;
        font-weight: 200 bold;
    }
    .tus-datos {
        color: #767E83;
        font-size: 25px;
        font-weight: 300;
    }
    .parrafo {
        display: flex;
        color: #70797E;
        font-size: 14px;
        font-weight: 200 bold;
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .formLabel {
        height: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        margin: 10px 0px;
    }
    .formLabel .formSpan {
        height: 20px;
        text-align: left;
        background-color: #ffffff;
        width: 80%;
        margin-bottom: 10px;
    }
    .formLabel .formInput {
        height: 40px;
        align-items: center;
        background-color: #ffffff;
        width: 80%;
        border: 1px solid #DBE3E7;
        border-radius: 2px;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .formButton {
        margin: 0 auto;
        height: 45px;
        align-items: center;
        background-color: #008636;
        width: 82%;
        left: 9%;
        color: #ffffff;
        position: relative;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 300 bold;
        margin-top: 20px;
    }
    .texto-ingresa-datos {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .ingresa {
        color: #01792E;
        font-size: 25px;
        font-weight: 200 bold;
    }
    .tus-datos {
        color: #767E83;
        font-size: 25px;
        font-weight: 300;
    }
    .parrafo {
        display: flex;
        color: #70797E;
        font-size: 14px;
        font-weight: 200 bold;
        width: 100%;
        margin: 20px 0;
    }
}