<!-- Toolbar -
<div class="toolbar" role="banner">
    <div class="content-logo">
        <img id="logo-falabella" alt="Falabella Logo" src="../../assets/img/logo-banco-falabella.png" />
    </div>
</div>

<div class="content" role="main">
    <img class="fondo-landing" alt="Fondo Landing" src="../../assets/img/fondo-renta.jpg" />
    <div class="content-encima">-->
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="texto-ingresa-datos">
                <span class="ingresa">Ayudanos</span><span class="tus-datos"> con unos datos más</span><br>
                <span class="parrafo">Porque te queremos dar una oferta hecha a la medida para ti, necesitamos saber un poco
                    más.</span>
            </div>

            <label class="formLabel">
                <span class="formSpan">¿Cúal es tu renta líquida/ingreso mensual?</span>
                <input class="formInput" type="text" formControlName="renta" placeholder="Ej: $400.000" required>
            </label>
            <button class="formButton" type="submit" [disabled]="!profileForm.valid">Continuar</button>
        </form>
    <!--</div>
</div>-->