:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin: 0;
    /* default margin set to 0 */
    padding: 0;
    /* default padding set to 0 */
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    height: 35px;
    background-color: #3F3F3F;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header {
    height: 95px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    top: 27px;
    left: 0;
  }
  
  .header .content-logo {
    width: auto;
    margin: 0 auto;
  }
  
  .header #menu-icon {
    float: left;
    padding: 0 0 5px 4%;
    width: 26px;
    position: absolute;
  }
  
  .content {
    display: flex;
    /*margin: 32px auto;
      padding: 0 16px;*/
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-bottom: 40px;
    background-color: #FEFFFF;
    left: 0;
    margin-top: 27px;
  }
  
  .content .fondo-landing {
    margin: 0 auto;
    max-width: 100%;
    left: 0;
  }
  
  .content-encima {
    position: absolute;
    width: 400px;
    height: 440px;
    top: 14%;
    right: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #F7F8FA;
  }
  /* Responsive Styles */
  
  /*@media screen and (max-width: 767px) {
    .content-encima {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 620px;
      top: 270px;
      background-color: #ffffff;
    }
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
    .card.highlight-card span {
      margin-left: 72px;
    }
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }*/
  
  @media screen and (min-width: 1025px) and (max-width: 1240px) {
    .texto-encima {
      position: absolute;
      top: 9%;
      left: 3%;
    }
    .tu-cuenta {
      color: #ffffff;
      font-size: 25px;
      font-weight: 200;
    }
    .online {
      color: #ffffff;
      font-size: 25px;
      font-weight: bold;
    }
    .content-encima {
      position: absolute;
      width: 40%;
      height: 620px;
      top: 18%;
      right: 10%;
      background-color: #ffffff;
      margin-bottom: 50px;
    }
  
    .content-promociones {
      position: absolute;
      display: flex;
      flex-direction: row;
      width: 45%;
      height: 130px;
      top: 69%;
      right: 50%;
      background-color: #ffffff;
      opacity: 0.9;
      border-radius: 8px 0 0 8px;
      padding-left: 30px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .texto-encima {
      position: absolute;
      top: 9%;
      left: 3%;
    }
    .tu-cuenta {
      color: #ffffff;
      font-size: 25px;
      font-weight: 200;
    }
    .online {
      color: #ffffff;
      font-size: 25px;
      font-weight: bold;
    }
    .content-encima {
      position: absolute;
      width: 40%;
      height: 520px;
      top: 18%;
      right: 10%;
      background-color: #ffffff;
      margin-bottom: 50px;
    }
  
    .content-promociones {
      display: none;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .texto-encima {
      position: absolute;
      top: 50%;
      right: 5%;
      text-align: right;
    }
    .tu-cuenta {
      color: #ffffff;
      font-size: 23px;
      font-weight: 200;
    }
    .online {
      color: #ffffff;
      font-size: 23px;
      font-weight: bold;
    }
    .content-encima {
      position: absolute;
      left: 5%;
      width: 90%;
      height: 480px;
      top: 75%;
      background-color: #ffffff;
      box-shadow: 2px 2px 5px #F7F8FA;
      margin-bottom: 50px;
    }
  
    .content-promociones {
      display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .texto-encima {
      position: absolute;
      top: 50%;
      right: 5%;
      text-align: right;
    }
    .tu-cuenta {
      color: #ffffff;
      font-size: 23px;
      font-weight: 200;
    }
    .online {
      color: #ffffff;
      font-size: 23px;
      font-weight: bold;
    }
    .content-encima {
      position: absolute;
      left: 5%;
      width: 90%;
      height: 480px;
      top: 80%;
      background-color: #ffffff;
      margin-bottom: 50px;
    }
  
    .content-promociones {
      display: none;
    }
  }